@import "tailwindcss";

:root {
  --bg-main: #000000;
}

@theme {
  --color-main-bg: #ffffff;

  --color-main-text: #000000;
}

[data-theme='dark'] {
  --color-main-bg: #000000;

  --color-main-text: #ffffff;
}
